HONCHO_POSTGRES_DB=honcho
HONCHO_POSTGRES_USER=honcho
HONCHO_POSTGRES_PASSWORD=change-me
LLM_ANTHROPIC_API_KEY=
LLM_OPENAI_API_KEY=
LLM_GEMINI_API_KEY=
LLM_GROQ_API_KEY=
DIALECTIC_PROVIDER=
DIALECTIC_MODEL=
DIALECTIC_PERFORM_QUERY_GENERATION=false
DIALECTIC_QUERY_GENERATION_PROVIDER=
DIALECTIC_QUERY_GENERATION_MODEL=
DIALECTIC_LEVELS__minimal__PROVIDER=
DIALECTIC_LEVELS__minimal__MODEL=
DIALECTIC_LEVELS__minimal__THINKING_BUDGET_TOKENS=0
DIALECTIC_LEVELS__minimal__MAX_TOOL_ITERATIONS=1
DIALECTIC_LEVELS__minimal__MAX_OUTPUT_TOKENS=250
DIALECTIC_LEVELS__minimal__TOOL_CHOICE=any
DIALECTIC_LEVELS__low__PROVIDER=
DIALECTIC_LEVELS__low__MODEL=
DIALECTIC_LEVELS__low__THINKING_BUDGET_TOKENS=0
DIALECTIC_LEVELS__low__MAX_TOOL_ITERATIONS=5
DIALECTIC_LEVELS__low__TOOL_CHOICE=any
DIALECTIC_LEVELS__medium__PROVIDER=
DIALECTIC_LEVELS__medium__MODEL=
DIALECTIC_LEVELS__medium__THINKING_BUDGET_TOKENS=1024
DIALECTIC_LEVELS__medium__MAX_TOOL_ITERATIONS=2
DIALECTIC_LEVELS__high__PROVIDER=
DIALECTIC_LEVELS__high__MODEL=
DIALECTIC_LEVELS__high__THINKING_BUDGET_TOKENS=1024
DIALECTIC_LEVELS__high__MAX_TOOL_ITERATIONS=4
DIALECTIC_LEVELS__max__PROVIDER=
DIALECTIC_LEVELS__max__MODEL=
DIALECTIC_LEVELS__max__THINKING_BUDGET_TOKENS=2048
DIALECTIC_LEVELS__max__MAX_TOOL_ITERATIONS=10
DERIVER_PROVIDER=
DERIVER_MODEL=
PEER_CARD_PROVIDER=
PEER_CARD_MODEL=
SUMMARY_PROVIDER=
SUMMARY_MODEL=
DREAM_PROVIDER=
DREAM_MODEL=
DIALECTIC_LEVELS_LOW_PROVIDER=
DIALECTIC_LEVELS_LOW_MODEL=
DIALECTIC_LEVELS_MEDIUM_PROVIDER=
DIALECTIC_LEVELS_MEDIUM_MODEL=
DIALECTIC_LEVELS_HIGH_PROVIDER=
DIALECTIC_LEVELS_HIGH_MODEL=
